<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <script src="/js/menu.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap_old.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style_for_menu.css">
    <link rel="stylesheet" href="/css/helpmix.css">
    <link rel="icon" href="/jpgs/favicon.ico">

    <title>Места продаж | Cherry Music Bar</title>
</head>
<style>
    .container {
    margin: 10px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    }
    a, a:visited {
        color:white;
    }
    a:hower {
        color: rgb(220, 220, 220);
    }
    .nav a { 
        color: black;
    }
    .modal-dialog {
        width: 50%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

        .modal-content {
        height: auto;
        min-height: 100%;
        border-radius: 0;
    }
    .navbar-static-top {
    categoryition: static;
    margin-bottom: 0;
}

    .navbar-inner {
    min-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top,#fff,#f2f2f2);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
    background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
    background-image: -o-linear-gradient(top,#fff,#f2f2f2);
    background-image: linear-gradient(to bottom,#fff,#f2f2f2);
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}
.navbar {
    width: 100wv;
}
body {
    background-image: url('../jpgs/body-back.jpg');
    background-categoryition: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
</style>
<body>
    <%- include('upmenu_crm') %>
    <div class="container">
        <div id="error_div"></div>
        <div class="page-header">
            <h2>Редактировать производство</h2>
        </div>
        <form class="form-horizontal" action="/admin/categories_manager/category_update" method="POST" id="addTableGroupForm" novalidate="novalidate">

            <div class="row">
                <div class="span6"> 
                    <div class="control-group">
                        <label class="control-label" for="category_name">Название производства</label>
                        <div class="controls">
                        <input class="required" minlength="2" value="<%= locals.category ? category.category_name : undefined %>" name="category_name" type="text" placeholder="Пр: Кухня, Бар" required>
                        </div>   
                    </div>
                    <div hidden>
                        <input type="number" value="<%= locals.category ? category.id : ''%>" name="category_id">  
                    </div>
                    <hr>
                    <div class="control-group">
                        <label class="control-label" for="printer">Принтер чеков</label>
                        <div class="controls">
                            <select name="bills[group_printer]" class="required" type="text" id="printer">
                                <option value="no_print">Не печатать чек</option>
                                <option value="printer" <%= locals.category ? (category.printer!='' ? 'selected': '') : ''%>>Ввести имя принтера..</option>
                            </select>
                            <div id="div_printer">
                                <input value="<%= locals.category ? category.printer : '' %>" name="bills[printer_address]" class="required" type="text" id="group_printer_other">
                                <p>Пример:<br>
                                bar1###2,1,1###192.168.1.113:9100_category__32<br><br>
                                <b>bar1</b> - Имя принтера в Windows <br>
                                (Пуск &gt; Устройства и принтеры). Если у Вас не установлен драйвер Windows принтера, укажите <b>printer</b><br>
                                <b>2,1,1</b> - коэфициент увеличения и отступы для Windows принтера. 2 можно заменить например на 1 или 1.7<br>
                                <b>192.168.1.113:9100</b> - IP адрес и порт сетевого принтера.<br>
                                <b>32</b> - Ширина строки 32 символа для принтеров 5см, и 48 для 8см.<br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="control-group">
                        <div class="controls">
                            <button class="btn btn-success" type="submit">Сохранить</button>
                        </div>
                    </div>
                <hr>
            </div>
        </form>
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const printerSelect = document.querySelector('#printer');
            const printerDiv = document.querySelector('#div_printer');
    
            checkPrinter(printerSelect);
    
            printerSelect.addEventListener('change', () => {
                checkPrinter(printerSelect);
            });
    
            function checkPrinter(select) {
                if (select.value === 'printer') {
                    printerDiv.classList.remove('none');
                } else {
                    printerDiv.classList.add('none');
                }
            }
        });
        
    </script>
    <script>
        const selectAllWorkers = document.getElementById('select_all_ofics');
        const checkboxesWorkers = document.querySelectorAll('[data-worker]');

        selectAllWorkers.addEventListener('change', function() {
            const isChecked = selectAllWorkers.checked;

            if(isChecked) {
                checkboxesWorkers.forEach(function(checkbox) {
                    checkbox.checked = !isChecked;
                });
            }
        });

        const selectAllCategories = document.getElementById('select_all_cats');
        const checkboxesCategories = document.querySelectorAll('[data-category]');

        selectAllCategories.addEventListener('change', function() {
            const isChecked = selectAllCategories.checked;

            if(isChecked) {
                checkboxesCategories.forEach(function(checkbox) {
                    checkbox.checked = !isChecked;
                });
            }
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>