<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <script src="/js/menu.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap_old.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style_for_menu.css">
    <link rel="stylesheet" href="/css/helpmix.css">
    <link rel="icon" href="/jpgs/favicon.ico">

    <title>Редактор подкатегорий | Cherry Music Bar</title>
</head>
<style>
    .container {
    margin: 10px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    }
    a, a:visited {
        color:white;
    }
    a:hower {
        color: rgb(220, 220, 220);
    }
    .nav a { 
        color: black;
    }
    .modal-dialog {
        width: 50%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

        .modal-content {
        height: auto;
        min-height: 100%;
        border-radius: 0;
    }
    .navbar-static-top {
    position: static;
    margin-bottom: 0;
}

    .navbar-inner {
    min-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top,#fff,#f2f2f2);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
    background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
    background-image: -o-linear-gradient(top,#fff,#f2f2f2);
    background-image: linear-gradient(to bottom,#fff,#f2f2f2);
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}
.navbar {
    width: 100wv;
}
body {
    background-image: url('../jpgs/body-back.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
</style>
<body id="">
    <script>
        function showSubcategory(id) {
            const otherDishes = document.querySelectorAll('#subcat');
            otherDishes.forEach(item => {
                item.classList.add('none');
            });
            const targetDishes = document.getElementById(`subcategory_${id}`).closest('#subcat').classList.remove('none');
        }
    </script>
    <%- include('upmenu_crm') %>
    <div class="container">
        <h2 class="fw-bold fs-2">Редактор подкатегорий</h2>
        <form action="/admin/nomenclature/subcategory_handler" method="POST">
            <table class="table table-striped" style="width: 60%;" border="1">
                <tbody>
                    <tr>
                        <td valign="top">	  
                            <div class="control-group">
                                <label class="control-label" for="hidden">Скрыть подкатегорию</label>
                                <div class="controls">
                                    <input name="hidden" id="hidden" type="checkbox" <%= locals.subcategory ? (subcategory.hidden == 1 ? 'checked' : '') : '' %>>
                                </div>   
                            </div>
                            <br>
                            Наименование
                            <br>
                            <input type="text" id="cat_name" name="subcategory_name" class="input-xxlarge" novalidate="true" value="<%= locals.subcategory ? subcategory.subcategory_name : '' %>">
                            <br><hr> 
                        </td>
                        <td valign="top">      
                            <div id="check_block">	     
                                    Категория:<br>
                                    <% categories.forEach(category => { %>
                                        <input type="radio" name="category_id" value="<%= category.id %>" <%= (locals.subcategory && subcategory.category === category.id) ? 'checked' : '' %>><%= category.category_name %><br>
                                    <% }); %>                               
                            </div>
                            <input type="text" value="<%= type %>" name="type" hidden="true">
                            <input type="number" value="<%= locals.subcategory ? subcategory.id : ''%>" name="subcategory_id" hidden="true">
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" class="btn btn-success" value="сохранить" onclick="">
        </form>
        
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>